// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #d3ad05
$secondary : #26a660
$accent    : #7e27b0

$dark      : #303030

$positive  : #21BA45
$negative  : #C10015
$info      : #34bad4
$warning   : #F2C037

$todobtn   : #0c506b
$pinkbtn   : #f3218a